$primary-color: #3498db;
$secondary-color: #2ecc71;
$red-color: #a50000;
$border: #dedede;

$font-mincho: '游明朝体', 'YuMincho', '游明朝', 'Yu Mincho', serif;
$font-noto: 'Noto Sans JP', sans-serif;
