@use '@css/variables.module.scss' as *;
@use '@css/mixins.module.scss' as mixins;
@use '@css/media.module.scss' as *;

@media (--pc) {
  .bannerPage {
    border-bottom: 20px solid #42210b;
  }
}

@media (--sp) {
  .bannerPage {
    height: vw(100);
    border-bottom: vw(10) solid #42210b;

    figure {
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media (--tb) {
  .bannerPage {
    border-bottom: pw(20) solid #42210b;
  }
}
